#TimeControl-customization {
	display: flex;
	align-items: center;
	font-size: 2em;
}

#TimeControl-customization button {
	padding: 1em;
	margin: 0.5em;
	color: #435e91;
}

.TimeControl-length {
	width: 1.5em;
	text-align: center;
}
.TimeControl {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
}
